footer {
    align-items: center;
    background-color: $grey;
    display: flex;
    justify-content: center;
    padding: 2rem $gutter;

    .links {
        font-size: $small-font;
        text-align: center;
        width: 13rem;

        p, a {
            display: block;
            height: 1.5em;
            position: relative;
            bottom: .5em;
        }

        .consultation {
            border-bottom: $black-border;
            padding-bottom: .1em;
        }

        .copyright {
            border-top: $black-border;
            padding-top: .6em;
        }

        .centre-links {
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
            height: 3.5rem;
            overflow: hidden;
            width: 100%;

            %box {
                align-items: center;
                display: flex;
                width: 100%;

                &:nth-child(1) {
                    padding-top: .4rem;
                }

                .social-icons {
                    position: relative;
                    top: .85rem;
                
                    a {
                        display: inline-block;
                        position: relative;
                        width: 1.1rem;
            
                        img {
                            height: 1rem;
                            position: absolute;
                            left: 0;
                        }
                    }
                }
            }

            .footer-box-left {
                @extend %box;
                border-right: $black-border;
                justify-content: flex-end;
                padding-right: .5rem;
            }

            .footer-box-right {
                @extend %box;
                padding-left: .5rem;
            }
        }
    }
}