footer {
    @extend %full-width;
    align-items: center;
    background-color: $pale-grey;
    display: flex;
    flex-flow: column-reverse;
    flex-wrap: wrap;
    font-size: .7rem;
    justify-content: space-between;
    padding: 5rem 10rem 1em 10rem;

    @include media-query(tablet-landscape-up) {
        flex-flow: row;
    }

    .social-icons {

        a {
            display: inline-block;
            padding: 0 .5em;

            img {
                height: 1rem;
            }
        }
    }
}