.grid-container {
    display: grid;
    gap: 0 $gutter;
    grid-template-columns: 1px minmax(0, 1fr) 1px;
    max-width: 100vw;

    @include media-query(tablet-landscape-up) {
        grid-template-columns: 1px minmax(0, 1fr) minmax(0, 1fr) 1px;
    }

    @include media-query(desktop-up) {
        grid-template-columns: 1fr 550px 550px 1fr;
    }
}