header {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    height: 30vh;
    justify-content: space-around;
    position: absolute;
    transition: .3s;
    transition: background-color 0s;
    width: 100%;
    z-index: 3;

    &.scroll {
        @include media-query(tablet-portrait-only) {
            background-color: fade-out($white, .04);
            height: 55px;
            transition: background-color $default-transition-time;
        }
    }

    @include media-query(tablet-portrait-up) {
        position: fixed;
        padding: 1rem 0;
        width: 100%;
    }

    @include media-query(mobile-landscape-only) {
        position: absolute;
    }

    @include media-query(tablet-landscape-up) {
        background-color: fade-out($white, .04);
        flex-wrap: nowrap;
        height: auto;
        // height: 135px;
    }

    #title {
        margin: 0 $gutter;
        position: relative;

        &:hover {
            color: inherit;
        }
    
        h1 {
            white-space: nowrap;

            &.small {
                @include media-query(tablet-portrait-up) {
                    font-size: .9rem;
                }

                @include media-query(tablet-landscape-up) {
                    font-size: 1.8rem;
                }
            }

            @include media-query(mobile) {
                font-size: 15vmin;
            }

            @include media-query(tablet-landscape-only) {
                font-size: 3rem;
            }

            @include media-query(tablet-landscape-up) {
                padding-top: 0;
                transition: $default-transition-time;
            }
        }

        .tagline {
            display: block;
            left: 6rem;
            line-height: .1rem;
            font-weight: $thin;
            text-align: left;
            position: relative;
            max-width: 21rem;

            span {
                display: none;
            }

            @include media-query(mobile) {
                font-size: 4vmin;
            }

            @include media-query(tablet-portrait-only) {
                display: none;
            }
    
            @include media-query(tablet-landscape-up) {
                left: 5rem;

                &.small {
                    font-size: .5rem;
                    left: 2.1rem;
                }
            }

            @include media-query(tablet-landscape-only) {
                font-size: .85rem;
                left: 3.5rem;
            }
        }
    }

    // @include media-query(mobile-landscape-only) {
    //     display: block;
    //     height: 100vh;
    //     padding-left: $gutter;
    //     position: absolute;
    //     width: 50vw;

    //     &.scroll {
    //         background-color: transparent;
    //     }

    //     #title {
    //         text-align: left;

    //         h1 {
    //             font-size: 8vw;
    //             padding-top: 20vh;

    //             &.small {
    //                 font-size: 8vw;
    //             }
    //         }

    //         .tagline {
    //             left: 0;
    //             line-height: 1.7em;
    //             margin-top: 2rem;
    //             text-align: left;

    //             span {
    //                 display: block;
    //             }
    //         }
    //     }
    // }
}

.tagline {
    font-family: $serif;
    font-size: 1rem;
    font-weight: $light;
    text-align: center;
    transition: $default-transition-time;
}

.landing-section {
    @include grid-column(fill);
    background-image: url(../../../images/instruments/instrument-cartoons-single-image.png);
    background-position: bottom 0 center;
    background-repeat: no-repeat;
    background-size: 98vw;
    min-height: 100vh;

    @include media-query(mobile-landscape-only) {
        background-position: bottom 0 right $gutter;
        background-size: 50vw;
        height: 100vh;
    }

    @include media-query(tablet-portrait-up) {
        min-height: 100vh;
    }

    @include media-query(tablet-portrait-only) {
        padding-top: 30vh;
    }

    @include media-query(tablet-landscape-up) {
        background-attachment: fixed;
        background-position: bottom 0 right $gutter;
        background-size: 60vw;
        margin: 0 $gutter;
        padding-top: 20vh;
    }

    @include media-query(desktop-up) {
        background-size: 100vh;
    }

    .tagline {
        transition: opacity 2.5s;

        &.fade {
            opacity: 0;
            transition: opacity $default-transition-time;
        }

        @include media-query(tablet-landscape-up) {
            display: none;
        }

        @include media-query(mobile-landscape-only) {
            display: none;
        }
    }

    .desktop-landing-content {
        @extend section;
        display: none;
        width: 40%;

        h3 {
            margin-top: 0;
        }

        @include media-query(mobile-landscape-only) {
            display: none;
        }

        @include media-query(tablet-landscape-up) {
            display: block;
        }
    }
}