header {
    @include grid-column(fill);
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    height: 30vh;
    justify-content: space-around;
    transition: .3s;
    transition: background-color 0s;
    z-index: 3;

    &.scroll {
        background-color: fade-out($white, .04);
        transition: background-color $default-transition-time;
    }

    @include media-query(tablet-portrait-only) {
        &.scroll {
            height: 55px;
        }
    }

    @include media-query(tablet-portrait-up) {
        position: fixed;
        padding: 1rem 0;
        width: 100%;
    }

    @include media-query(tablet-landscape-up) {
        background-color: fade-out($white, .04);
        flex-wrap: nowrap;
        height: auto;
    }

    #title {
        margin: 0 $gutter;
        position: relative;

        &:hover {
            color: inherit;
        }
    
        h1 {
            white-space: nowrap;

            &.small {
                @include media-query(tablet-portrait-up) {
                    font-size: .9rem;
                }

                @include media-query(tablet-landscape-up) {
                    font-size: 1.8rem;
                }
            }

            @include media-query(mobile) {
                font-size: 15vmin;
            }

            @include media-query(tablet-landscape-only) {
                font-size: 3rem;
            }

            @include media-query(tablet-landscape-up) {
                padding-top: 0;
                transition: $default-transition-time;
            }
        }

        .tagline {
            display: none;
    
            @include media-query(tablet-landscape-up) {
                display: block;
                left: 5rem;
                line-height: .1rem;
                text-align: left;
                position: relative;

                @include media-query(tablet-landscape-only) {
                    font-size: .85rem;
                    left: 3.5rem;
                }

                &.small {
                    font-size: .5rem;
                    left: 2.1rem;
                }
            }

            span {
                display: none;
            }
        }
    }

    @include media-query(mobile-landscape-only) {
        display: block;
        height: 100vh;
        padding-left: $gutter;
        position: absolute;
        width: 50vw;

        &.scroll {
            background-color: transparent;
        }

        #title {
            text-align: left;

            h1 {
                font-size: 8vw;
                padding-top: 20vh;

                &.small {
                    font-size: 8vw;
                }
            }

            .tagline {
                display: block;
                margin-top: 2rem;
                text-align: left;

                span {
                    display: block;
                }
            }
        }
    }
}

.tagline {
    font-family: $serif;
    font-size: 1rem;
    font-weight: $light;
    text-align: center;
    transition: $default-transition-time;
}

.landing-section {
    @include grid-column(fill);
    align-items: end;
    display: grid;
    grid-template-columns: 100%;
    height: 70vh;

    @include media-query(mobile-landscape-only) {
        height: 100vh;
        overflow: hidden;
    }

    @include media-query(tablet-portrait-up) {
        height: 100vh;
        // padding-top: 30vh;
    }

    @include media-query(tablet-portrait-only) {
        padding-top: 30vh;
    }

    @include media-query(tablet-landscape-up) {
        grid-template-columns: 3fr 5fr;
        margin: 0 $gutter;
        padding-top: 20vh;
    }

    .landing-text {
        width: 100%;

        .desktop-landing-content {
            @extend section;
            display: none;
            overflow: scroll;
            height: 80vh;

            h3 {
                margin-top: 0;
            }
        }

        @include media-query(mobile-landscape-only) {
            display: none;
        }

        @include media-query(tablet-landscape-up) {
            align-items: center;
            display: flex;
            flex-flow: column;
            justify-content: center;

            .desktop-landing-content {
                display: block;
            }

            .tagline {
                display: none;
            }
        }

        .tagline {
            transition: opacity 2.5s;

            &.fade {
                opacity: 0;
                transition: opacity $default-transition-time;
            }
        }
    }

    .hero-img {
        margin: 0 auto;
        max-height: 70vh;
        max-width: 100%;

        @include media-query(mobile-landscape-only) {
            max-height: 90vh;
            margin-left: 50vw;
        }

        @include media-query(tablet-landscape-up) {
            max-height: 80vh;
        }
    }
}