header {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    height: 30vh;
    justify-content: space-around;
    overflow: hidden;
    position: absolute;
    transition: .3s;
    transition: background-color 0s;
    width: 100%;
    z-index: 20;

    &.scroll {
        @include media-query(tablet-portrait-only) {
            background-color: fade-out($white, .04);
            height: 55px;
            transition: background-color $default-transition-time;
        }
    }

    @include media-query(tablet-portrait-up) {
        position: fixed;
        padding: 1rem 0;
        width: 100%;
    }

    @include media-query(mobile-landscape-only) {
        position: absolute;
    }

    @include media-query(tablet-landscape-up) {
        background-color: fade-out($white, .04);
        flex-wrap: nowrap;
        // height: auto;
        // height: 135px;
        height: 6.5rem;
        overflow: visible;

        #title {
            align-self: flex-start;
        }

        &.scroll {
            height: auto;
        }
    }

    #title {
        margin: 0 $gutter;
        position: relative;

        &:hover {
            color: inherit;

            .tagline {
                &::after {
                    left: -12%;
                    top: -.4rem;
                    width: 55%;
                }
            }
        }
    
        h1 {
            white-space: nowrap;

            &.small {
                @include media-query(tablet-portrait-up) {
                    font-size: .9rem;
                }

                @include media-query(tablet-landscape-up) {
                    font-size: 1.8rem;
                }
            }

            @include media-query(mobile) {
                font-size: 15vmin;
            }

            @include media-query(tablet-landscape-only) {
                font-size: 3rem;
            }

            @include media-query(tablet-landscape-up) {
                padding-top: 0;
                transition: $default-transition-time;
            }
        }

        .tagline {
            display: block;
            float: right;
            font-weight: $thin;
            text-align: right;
            margin-right: 2rem;
            margin-top: -.6rem;
            position: relative;

            span {
                display: none;
            }

            @include media-query(mobile) {
                font-size: 4vmin;
            }

            @include media-query(tablet-portrait-only) {
                display: none;
            }
    
            @include media-query(tablet-landscape-up) {
                margin-right: 1rem;

                &::after {
                    content: url(../../../images/backgrounds/blobs/underline-blob-2.svg);
                    left: -8%;
                    position: absolute;
                    right: 0;
                    top: .1rem;
                    transition: $default-transition-time;
                    width: 40%;
                    z-index: -1;
                }

                &.small {
                    font-size: .5rem;
                    margin-right: .3rem;
                    margin-top: -.3rem;
                }
            }

            @include media-query(tablet-landscape-only) {
                font-size: .85rem;
                // margin-right: .5rem;
            }

            @include media-query(desktop-up) {
                margin-right: 2rem;
            }
        }
    }

    // @include media-query(mobile-landscape-only) {
    //     display: block;
    //     height: 100vh;
    //     padding-left: $gutter;
    //     position: absolute;
    //     width: 50vw;

    //     &.scroll {
    //         background-color: transparent;
    //     }

    //     #title {
    //         text-align: left;

    //         h1 {
    //             font-size: 8vw;
    //             padding-top: 20vh;

    //             &.small {
    //                 font-size: 8vw;
    //             }
    //         }

    //         .tagline {
    //             left: 0;
    //             line-height: 1.7em;
    //             margin-top: 2rem;
    //             text-align: left;

    //             span {
    //                 display: block;
    //             }
    //         }
    //     }
    // }
}

.tagline {
    font-family: $serif;
    font-size: 1rem;
    font-weight: $light;
    text-align: center;
    transition: $default-transition-time;
}

.landing-section {
    @include grid-column(fill);
    min-height: 100vh;
    position: relative;

    @include media-query(mobile-landscape-only) {
        height: 100vh;
    }

    // @include media-query(tablet-portrait-up) {
    //     min-height: 100vh;
    // }

    @include media-query(tablet-portrait-only) {
        // border: 1px solid red;
        min-height: 100vh;
        // padding-top: 30vh;
    }

    @include media-query(tablet-landscape-up) {
        // margin: 0 $gutter;
        padding-top: 20vh;
    }

    .tagline {
        transition: opacity 2.5s;

        &.fade {
            opacity: 0;
            transition: opacity $default-transition-time;
        }

        @include media-query(tablet-landscape-up) {
            display: none;
        }

        @include media-query(mobile-landscape-only) {
            display: none;
        }
    }

    .desktop-landing-content {
        @extend section;
        display: none;
        width: 40%;

        h3 {
            margin-top: 0;
        }

        @include media-query(mobile-landscape-only) {
            display: none;
        }

        @include media-query(tablet-landscape-up) {
            display: block;
        }
    }

    svg {
        bottom: 5%;
        max-height: 70%;
        position: absolute;
        right: -$gutter;
        width: 100vw;

        @include media-query(mobile-landscape-only) {
            right: -$gutter;
            width: 50vw;
        }

        @include media-query(tablet-portrait-only) {
            max-width: 100vw;
        }
    
        @include media-query(tablet-landscape-up) {
            height: 70vh;
            max-width: 60vw;
            top: 20%;
            right: -$gutter;
            width: auto;
        }
    
        @include media-query(desktop-up) {
            height: auto;
            max-width: 60vw;
            top: 7.3rem;
            right: -$gutter * 1.4;
            width: 100vh;
        }

        #colour {
            
            path {
                stroke: none;
                // transition: 5s;

                &.recorder {
                    fill: $light;
                }

                &.clarinet {
                    fill: $secondary;
                }

                &.flute {
                    fill: $grey;
                }

                &.e-flute {
                    fill: $primary;
                }

                &.sax {
                    fill: $accent;
                }
            }
        }
    }
}