%no-gutter {
    width: 100vw;
    position: relative;
    left: -$gutter;
}

section {
    margin: 0;
    position: relative;

    h2, p, ul, table, .margin-top {
        margin-top: $margin-top;
    }

    li, svg {
        margin-top: 0;
    
        * {
            margin-top: 0;
        }
    }
}

.first-section {
    @include beneath-header;
}

.content {
    position: relative;
}

.testimonial {
    align-items: center;
    background: no-repeat url(../../../images/backgrounds/blobs/blob-1-purple.svg);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: $margin-top 3em 0 3em;
    position: relative;
    width: 100%;
    z-index: 3;

    @include media-query(mobile) {
        padding: $margin-top 0 0 0;
    }

    .slick-quote {
        align-items: center;
        display: flex;
        height: 100%;
        position: relative;
        width: 100%;

        .bq-container {
            height: 100%;
            margin: 0 auto;
            width: 70%;

            blockquote {
                margin: 0 auto;
                max-width: 30em;
                position: relative;

                span {
                    display: block;
                    margin-top: .7em;

                    &.recording-quotee {
                        margin: .7em 2em 0 2em;
                        max-width: 50%;
                        float: right;
                    }
                }
            }
        }
    }
}

.youtube-container {
    margin: 0 $gutter;
    max-width: 100%;
}

.short {

    div {
        margin-bottom: -2 * $margin-top;
        max-height: 60vh;
        overflow: hidden;
        position: relative;
        transition: max-height $default-transition-time;
        z-index: -1;

        &::after {
            background: linear-gradient($transparent, $white 75%, $white 100%);
            bottom: 0;
            content: " ";
            height: 10rem;
            left: 0;
            max-height: 100%;
            position: absolute;
            width: 100%;
            z-index: 5;
        }
    }
}