%no-gutter {
    width: 100vw;
    position: relative;
    left: -$gutter;
}

section {
    margin: 0;
    position: relative;

    h2, p, ul, .margin-top {
        margin-top: $margin-top;
    }

    li, svg {
        margin-top: 0;
    
        * {
            margin-top: 0;
        }
    }
}

.first-section {
    margin-top: 30vh;

    @include media-query(tablet-landscape-up) {
        margin-top: 20vh;
    }
}

.content {
    position: relative;
}

.testimonial {
    // border: 1px solid red;
    align-items: center;
    // background: no-repeat url(../../../images/backgrounds/blobs/blob-1-space-below-purple.svg);
    background: no-repeat url(../../../images/backgrounds/blobs/blob-1-purple.svg);
    display: flex;
    // height: 100%;
    // height: 15rem;
    justify-content: center;
    text-align: center;
    // overflow: hidden;
    padding: 3em;
    position: relative;
    width: 100%;

    .slick-quote {
        // border: 1px solid red;
        align-items: center;
        display: flex;
        height: 100%;
        width: 100%;

        .bq-container {
            // border: 1px solid red;
            align-items: center;
            display: flex;
            height: 100%;
            margin: 0 auto;
            width: 70%;

            blockquote {
                // border: 1px solid red;
                margin: 0 auto;
                // width: 70%;
                max-width: 30em;

                span {
                    display: block;
                    margin-top: .7em;
                }
            }
        }
    }
}

.youtube-container {
    margin: 0 $gutter;
    max-width: 100%;
}