%no-gutter {
    width: 100vw;
    position: relative;
    left: -$gutter;
}

* {
    margin-top: 1.7rem;
}

section {
    padding: 2rem $gutter;
    margin: 0;
    position: relative;

    * {
        margin-top: 1.7rem;
    }
}

.content {
    margin: 0 auto;
    max-width: 500px;
}

.recording {
    @include grid-column(fill);
    @include primary-bg-gradient(180deg);
    align-items: center;
    box-shadow: 0 0 30px fade-out($soft-black, .5);
    display: flex;
    flex-flow: column;
    justify-content: center;

    .content {
        margin: 0;
    }

        @include media-query(mobile) {
            padding-bottom: 3rem;
        }

        @include media-query(tablet-landscape-up) {
            flex-flow: row;
            
            .content {
                min-width: 400px;
            }
            
            #instruments-section {
                margin-left: $gutter;
            }
        }

        div {
            margin-top: 0;
        }

        #intro {
            margin-top: 0;
            padding-top: 1rem;
        }

        #mobile-intro-content {
            // margin-top: 0;
            @include media-query(tablet-landscape-up) {
                display: none;
            }
        }
    // }

    #video-1 {
        margin-top: 1.7rem;
    }
}

.testimonial {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3em;

    * {
        margin: 0;
        max-width: 30em;
    }

    blockquote {
        span {
            display: block;
            margin-top: .7em;
        }
    }
}

.recording-testimonials {
    @include grid-column(fill);
    @include inner-shadow($dark-green);
    // background-color: $dark-green;
    // padding: 2.2em;
}

.career {
    @include grid-column(left);
    // padding-top: 1.5rem;
    //padding-bottom: 0;
    background-color: $warm-black;
    color: $white;
    button {
        color: $warm-black;
    }
}

.lux {
    // padding-top: 2rem;
    @include grid-column(right);
    @include primary-bg-gradient(0deg);

    @include media-query(tablet-landscape-up) {
        padding-top: 1rem;
    }
}

.lessons {
    // padding: 2rem $gutter;
    @include grid-column(left);
    // background-color: $alt-grey;
    @include primary-bg-gradient(180deg);
}

.teaching-testimonials {
    @include grid-column(right);
    @include inner-shadow(lighten($warm-black, 10%));
    // background-color: $warm-black;
    // margin-top: 1.7rem;
}