nav {
    ul {
        display: flex;
        flex-wrap: nowrap;

        img {
            height: 8vw;
            max-height: 25px;
        }

        li {
            display: inline-block;
            line-height: 1.2em;

            a {
                &:active {
                    text-decoration: overline;
                    // border-bottom: 1px solid $chartreuse;
                    // padding-bottom: .3em;
                }
            }
        }
    }
}

.nav-desktop {
    display: none;
    text-transform: uppercase;
    margin-left: $gutter;
    max-width: 650px;

    @include media-query(tablet-portrait-only) {
        display: block;
    }

    @media only screen and (min-width: 700px) {
        display: block;
    }

    @include media-query(mobile-landscape-only) {
        display: none;
    }

    @include media-query(desktop-up) {
        min-width: 50%;
    }

    ul {
        justify-content: space-between;

        li {
            margin-right: $gutter;
        }
    }
}

.nav-mobile {
    @include inner-shadow-sides(fade-out($pale-grey, .04));
    box-shadow: 0 0 30px fade-out($soft-black, .5);
    font-size: .7rem;
    z-index: 5;
    @include sticky;
    
    @include media-query(tablet-portrait-up) {
        display: none;
        width: 100%;
    }

    @include media-query(mobile-landscape-only) {
        display: block;
    }

    ul {
        justify-content: space-around;
        margin: 0 auto;
        max-width: 400px;
        padding: .7em;
        text-align: center;
    }
}