nav {
    position: relative;
    // z-index: 5;

    ul {
        display: flex;
        flex-wrap: nowrap;

        li {
            display: inline-block;
            line-height: 1.2em;
            position: relative;

            .offer {

                &:after {
                    content: "offer";
                    color: $accent;
                    display: inline-block;
                    font-size: .7em;
                    font-weight: $bold;
                    position: absolute;
                    right: -1.5em;
                    top: -1em;
                }
            }

            a {
                border-radius: .7em;
                padding: .5em;

                svg {
                    height: 10vw;
                    max-height: 50px;
                }

                &.current {
                    background: $light;
                    border: 2px solid $black;
                    // border-radius: .7em;
                    // padding: .5em;

                    &:hover {
                        background: none;
                        color: inherit;
                    }
                }

                &:active {
                    text-decoration: overline;

                    svg {
                        .stroke {
                            stroke: $accent;
                        }
                    }
                }
            }
        }
    }
}

.nav-desktop, .nav-main {
    display: none;
    text-transform: uppercase;
    margin-left: $gutter;
    max-width: 650px;

    @include media-query(tablet-portrait-only) {
        display: block;
    }

    @media only screen and (min-width: 700px) {
        display: block;
    }

    @include media-query(mobile-landscape-only) {
        display: none;
    }

    @include media-query(desktop-up) {
        min-width: 50%;
    }

    ul {
        justify-content: space-between;

        li {
            margin-right: $gutter;
        }
    }
}

%nav-mobile-base {
    font-size: .8rem;
    z-index: 5;
    
    @include media-query(tablet-portrait-up) {
        display: none;
    }

    @include media-query(mobile-landscape-only) {
        display: block;
    }

    ul {

        li {
            background: no-repeat url(../../../images/backgrounds/squircle-one-grey.svg);
            text-align: center;
            transition: transform $default-transition-time;

            &:nth-child(1) {
                background: no-repeat url(../../../images/backgrounds/squircle-one-pink.svg);
            }

            &:nth-child(2) {
                background: no-repeat url(../../../images/backgrounds/squircle-one-turquoise.svg);
            }

            &:nth-child(4) {
                background: no-repeat url(../../../images/backgrounds/squircle-one-purple.svg);
            }

            &:nth-child(5) {
                background: no-repeat url(../../../images/backgrounds/squircle-one-chartruese.svg);
            }

            &.hamburger-close {
                background: no-repeat url(../../../images/backgrounds/squircle-one-turquoise.svg);

                .menu {
                    display: none;
                }
            }

            a, button {
                color: $black;
                
                &:active {
                    color: $accent;
                    text-decoration: none;

                    svg {
                        .stroke, .square {
                            stroke: $accent;
                        }
                    }
                }

                p {
                    margin-top: -.4rem;
                    padding: .1em .5em;
                }

                svg {
                    height: 100%;

                    .stroke, .square {
                        stroke: $black;
                    }
                }
            }
        }
    }

    &.closed {
        ul {
            li {
                display: none;

                &.hamburger-close {
                    .close {
                        display: none;
                    }

                    .menu {
                        display: block;
                    }
                }
            }
        }
    }
}

.nav-mobile {
    @extend %nav-mobile-base;
    bottom: 1rem;
    position: fixed;
    right: 1rem;
}

.index-nav-mobile {
    @extend %nav-mobile-base;
    @include grid-column(full-width);
    @include sticky(top);
    background-color: fade-out($white, .04);
    width: 100%;

    &.closed {
        background: none;

        ul {
            .hamburger-close {
                display: block;
                position: absolute;
                right: 1rem;
            }
        }
    }

    ul {
        height: 4rem;
        justify-content: space-around;
        margin: 1rem auto;
        max-width: 400px;
        padding: 0 .7em;
        text-align: center;

        .hamburger-close {
            display: none;

            @include media-query(mobile-landscape-only) {
                display: block !important;
                position: absolute;
                right: 1rem;
            }
        }
    }
}

.sub-navigation {
    
    ul {
        align-items: space-between;
        display: inline-flex;
        flex-flow: wrap;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 100%;

        @include media-query(tablet-portrait-up) {
            justify-content: flex-start;
        }

        @include media-query(tablet-landscape-up) {
            justify-content: center;
        }

        .jump {
            background: $light;
            border: 1px solid $black;
            border-radius: .6em;
            display: inline-block;
            font: inherit;
            height: 2.2rem;
            line-height: inherit;
            margin: 0;
            padding: 0 .5rem .2rem .5rem;
            position: relative;
            top: .3rem;
            transition: $default-transition-time;
    
            &:hover {
                transform: none;
            }
    
            &:active {
                transform: none;
            }
    
            p {
                display: inline-block;
                margin: 0;
            }
        }

        svg {
            bottom: -.2rem;
            display: inline-block;
            position: relative;
            width: 2rem;
        }

        li {
            display: block;

            @include media-query(tablet-portrait-up) {
                margin-left: 1vw;
            }

            &.discuss {
                @include media-query(tablet-landscape-up) {
                    display: none;
                }
            }

            a {
                display: block;
                
                svg {
                    bottom: -.2rem;
                    height: auto;
                    margin-left: 0;
                }
        
                p {
                    display: inline-block;
                    overflow: hidden;
                    max-width: 0;
                    transition: $default-transition-time;

                    &.show {
                        max-width: 100%;
                    }
        
                    @include media-query(tablet-portrait-up) {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}