.colour-tryout {

    %choose {
        margin: 0;

        div {
            border-radius: 50%;
            display: inline-block;
            height: 100px;
            margin: 20px;
            width: 100px;
        }
    }

    .colour-one {
        @extend %choose;
        :nth-child(1) {
            background-color: $black;
        }
        :nth-child(2) {
            background-color: $primary;
        }
        :nth-child(3) {
            background-color: $grey;
        }
        :nth-child(4) {
            background-color: $accent;
        }
        :nth-child(5) {
            background-color: $dark;
        }
        :nth-child(6) {
            background-color: $secondary;
        }
        :nth-child(7) {
            background-color: $light;
        }
        :nth-child(8) {
            background-color: $white;
        }
    }

    .gradient-one {
        @extend %choose;
        :nth-child(1) {
            background: linear-gradient($black, $black-gradient);
            @include button-box-shadow($black);
        }
        :nth-child(2) {
            background: linear-gradient($primary, $primary-gradient);
            @include button-box-shadow($primary);
        }
        :nth-child(3) {
            background: linear-gradient($grey, $grey-gradient);
            @include button-box-shadow($grey);
        }
        :nth-child(4) {
            background: linear-gradient($accent, $accent-gradient);
            @include button-box-shadow($grey);
        }
        :nth-child(5) {
            background: linear-gradient($dark, $dark-gradient);
            @include button-box-shadow($dark);
        }
        :nth-child(6) {
            background: linear-gradient($secondary, $secondary-gradient);
            @include button-box-shadow($secondary);
        }
        :nth-child(7) {
            background: linear-gradient($light, $light-gradient);
            @include button-box-shadow($grey);
        }
        :nth-child(8) {
            background: linear-gradient($white, $white-gradient);
            @include button-box-shadow($grey);
        }
    }

    svg {
        .clarinet-svg {
            display: none;
            .clarinet-1 {fill: #b8b3a1;}
            .clarinet-2 {fill: #262924;}
            .clarinet-3 {fill: #b1a14d;}
            .clarinet-4 {fill: #060707;}
            .clarinet-5 {fill: #4d5952;}
            // .clarinet-1 {
            //     fill: $light;
            // }
            // .clarinet-2 {
            //     fill: $dark;
            // }
            // .clarinet-3 {
            //     fill: $accent;
            // }
            // .clarinet-4 {
            //     fill: $black;
            // }
            // .clarinet-5 {
            //     fill: $primary;
            // }
        }
    }
}