#contact-page {
    main {
        @include grid-column(fill);
        @include beneath-header(small);
        text-align: left;
        width: 100%;

        .container {
            // background: left 55% no-repeat url(../../../images/pages/contact-contained.svg);
            min-height: 60vh;
            position: relative;
            width: 100%;

            .form-container {
                background: $white;
                border-radius: 1rem;
                margin: 0 auto;
                max-width: 500px;
                // top: 2 * $margin-top;
                z-index: 2;

                @include media-query(tablet-portrait-up) {
                    max-width: none;
                    padding: $margin-top;
                }

                @include media-query(tablet-landscape-up) {
                    // bottom: 0;
                    box-shadow: fade-out($black, .8) .1rem .1rem .6rem;
                    float: right;
                    margin-top: 2 * $margin-top;
                    // position: absolute;
                    // right: 0;
                    width: 70%;
                }

                .headers {

                    #form-back, #form-restart {
                        // display: none;
                        font-size: .9rem;
                        margin: 0;
                        position: relative;
                        top: -$margin-top / 2;

                        span {
                            margin-right: .5em;
                            position: relative;
                            width: 1.5em;
                        }
                    }

                    #form-back {
                        span {
                            content: url(../../../images/icons/left-arrow.svg);
                        }
                    }

                    #form-restart {
                        float: right;

                        span {
                            content: url(../../../images/icons/restart.svg);
                            bottom: -.3em;
                        }
                    }

                    .summary-sentence {
                        font-weight: $thin;

                        p, span {
                            display: inline;
                            margin: 0;
                            padding: 0;
                        }

                        span {
                            cursor: pointer;
                            font-weight: $semi-bold;
                            transition: $default-transition-time;

                            &:hover {
                                color: $secondary;
                            }
                        }
                    }

                    .progress-bar {
                        display: flex;
                        height: .5rem;
                        margin: $margin-top / 2 0;
                        width: 100%;

                        div {
                            background: $grey;
                            border-radius: .1rem;
                            flex-grow: 1;
                            margin: 1px;

                            &.active {
                                background: $primary-gradient;
                            }

                            &.complete {
                                background: $primary;
                            }
                        }

                        &.incognito {
                            background: $grey;
                            height: 1px;

                            div {
                                display: none;
                            }
                        }
                    }
                }

                .tab {
                    display: none;

                    .bypassable {
                        margin-bottom: 0;

                        &.disabled {
                            border-color: $grey;
                            color: $grey;
                        }
                    }

                    label {
                        border-radius: .5rem;

                        &.bypass {
                            margin-top: 0;
                            padding: .2rem .5rem;

                            &.checked {
                                background: fade-out($primary, .5);
                                border: 2px solid $primary-gradient;
                            }

                            input[type=checkbox] {
                                margin-right: .5rem;
                            }
                        }
                    }

                    .multi-choice {
                        display: flex;
                        flex-flow: row wrap;

                        label {
                            border: 2px solid $grey;
                            flex: 1 0 10rem;
                            margin: .4rem;
                            text-align: center;

                            &:hover {
                                border: 2px solid $primary;
                                transform: $hover-grow;
                                transition: $default-transition-time;
                            }

                            &.checked {
                                background: fade-out($primary, .5);
                                border: 2px solid $primary-gradient;
                            }

                            input {
                                margin: 0;
                                opacity: 0;
                            }
                        }
                    }
                }

                #start-page-contact {
                    display: none;

                    .options {
                        display: flex;
                        flex-flow: column wrap;
                        margin-top: $margin-top;

                        @include media-query(tablet-portrait-up) {
                            flex-flow: row wrap;
                        }

                        .option, .contact-option {
                            align-items: center;
                            background: $white;
                            border: 1px solid $black;
                            border-radius: 1.2rem;
                            cursor: pointer;
                            display: flex;
                            flex: 1 0 45%;
                            height: 4rem;
                            margin: .5rem;
                            padding: .5rem;
                            position: relative;
                            transition: $default-transition-time;

                            &:hover {
                                border: 2px solid $primary;
                            }

                            h3 {
                                font-size: 1.5rem;
                                width: 100%;
                            }

                            svg {
                                flex: 1 1 20%;
                            }
                        }
                    }
                }

                #nextBtn, button[type=submit] {
                    background: $accent;
                    border-radius: .5rem;
                    width: 100%;
                }
            }

            .background {
                display: none;
                left: 5rem;
                position: fixed;
                top: 20vh;
                width: 45%;
                z-index: -1;

                @include media-query(tablet-landscape-up) {
                    display: block;
                }
            }

            .social-icons {
                align-items: center;
                bottom: 0;
                display: flex;
                justify-content: space-around;
                position: absolute;
                right: 0;
                width: 45%;

                svg {
                    flex-basis: 12%;
                }
            }
        }
    }
}