.home-page {
    header {
        @include media-query(mobile) {
            height: 30vh;
        }

        @include media-query(mobile-landscape-only) {
            @include grid-column(full-width);
            height: 30vh;
            position: static;

            &.scroll {
                height: 30vh;
                padding: 1rem 0;
            }
        }

        @include media-query(tablet-portrait-only) {
            height: 35vh;
        }

        div {
            #title {    
                img {    
                    @include media-query(mobile) {
                        max-height: 7rem;
                    }

                    @include media-query(mobile-landscape-only) {
                        max-height: 7rem;
                    }
                }
            }
        }
    }

    .hero-image {
        align-items: center;
        display: flex;
        grid-area: 1 / -1 / 2 / 1;
        padding-top: 30vh;
        position: relative;
        height: 100vh;
        width: 100%;

        @include media-query(mobile-landscape-only) {
            grid-row-start: 2;
            height: 70vh;
            justify-content: center;
            overflow: hidden;
            padding: 0;
            position: relative;
            width: 100%;
        }

        @include media-query(tablet-landscape-up) {
            align-items: center;
            bottom: 0;
            padding-bottom: 0;
            padding-top: 6.5rem;
            position: absolute;
            right: 0;
            width: 50vw;
        }

        svg {
            margin: 0;
            max-height: 70vh;
            position: absolute;
            right: 0;
            width: auto;

            @include media-query(mobile-landscape-only) {
                max-height: none;
                top: 0;
                width: 100%;
            }
        
            @include media-query(tablet-landscape-up) {
                max-height: 100%;
            }
    
            #colour {
                path {
                    stroke: none;
    
                    &.recorder {
                        fill: $light;
                    }
    
                    &.clarinet {
                        fill: $secondary;
                    }
    
                    &.flute {
                        fill: $grey;
                    }
    
                    &.e-flute {
                        fill: $primary;
                    }
    
                    &.sax {
                        fill: $accent;
                    }
                }
            }
        }
    }

    .intro-tryout {
        @include grid-column(fill);
        @include media-query(tablet-landscape-up) {
            align-items: center;
            display: flex;
            grid-area: 1 / 3 / 2 / 2;
            min-height: 100vh;
        }

        .desktop-landing-content {

            @include media-query(mobile) {
                margin-bottom: $margin-top;
            }

            @include media-query(mobile-landscape-only) {
                margin-bottom: $margin-top;
            }

            @include media-query(tablet-landscape-up) {
                margin-top: 6.5rem;
            }

            @include media-query(desktop-up) {
                margin-top: 8rem;
            }

            #landing-page-recording {
                @include media-query(tablet-landscape-up) {
                    left: -1rem;
                    margin-top: $margin-top;
                    padding: 1rem;
                    position: relative;
                    width: 110%;

                    h2 {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }

    .recording {
        @include grid-column(fill);
        display: grid;
        grid-template-columns: 100%;
    
        @include media-query(mobile) {
            padding-bottom: 3rem;
        }

        @include media-query(tablet-portrait-up) {
            margin-top: 0;
            padding-top: 1.7rem;
        }

        @include media-query(tablet-landscape-up) {
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            
            .instruments-section {
                margin-left: $gutter;
            }
        }

        div {
            margin-top: 0;
        }

        .instruments-section {
            @extend section;

            margin-top: $margin-top;

            @include media-query(tablet-landscape-up) {
                margin-top: 0;
            }

            h3 {
                @include media-query(mobile) {
                    text-align: center;
                }
            }
        }

        #intro {
            margin-top: 0;
            padding-top: 1rem;
        }

        #mobile-intro-content {
            margin-bottom: $margin-top;
            @include media-query(tablet-landscape-up) {
                display: none;
            }
        }
    
        #video-1 {
            margin-top: 1.7rem;
        }
    }
    
    .recording-testimonials {
        @include grid-column(fill);
        
        .testimonial {
            background: none;
        }
    }
    
    .career {
        @include grid-column(left);
    }
    
    .lux {
        @include grid-column(right);
    }
    
    .lessons {
        @include grid-column(left);
    }
    
    .teaching-testimonials {
        @include grid-column(right);
    }
}