#recording-page {

    header {
        // @include media-query(mobile) {
        //     height: 25vh;
        // }

        @include media-query(mobile-landscape-only) {
            height: 8rem;
            justify-content: flex-end
        }
    }

    .first-section {
        @include grid-column(fill);
        align-items: start;
        display: grid;
        gap: $gutter;
        grid-template-columns: 1fr;
        margin-top: 20vh;

        @include media-query(tablet-portrait-up) {
            margin-top: 25vh;
        }

        @include media-query(mobile-landscape-only) {
            margin-top: 5rem;
        }

        @include media-query(tablet-landscape-up) {
            grid-template-columns: 1fr 1fr;
            margin-top: 7rem;
        }

        .content {
            // align-self: start;

            .ticks {
                path {
                    stroke: $primary;
                }
            }
        }

        .quote-form-top {
            align-self: end;

            svg {
                margin: 0 auto;
                max-width: 30vw;
                width: 65%;
            }
        }

        form {
            align-items: end;

            textarea {
                height: 8rem;
            }
        }
    }

    .recording-instruments-intro {
        @extend section;
        @include grid-column(fill);
        // background: no-repeat url(../../../images/backgrounds/blobs/blob-5.svg);
        display: grid;
        column-gap: $gutter;
        grid-template-columns: 1fr;
        // margin-top: $margin-top;

        @include media-query(tablet-landscape-up) {
            grid-template-columns: minmax(19rem, 2fr) 3fr;
        }
    }

    .recording-instruments {
        @extend section;
        @include grid-column(full-width);
        padding: 0;
        margin-top: $margin-top;
        width: 100%;

        .recording-instrument-categories {
            align-items: stretch;
            display: flex;
            flex-wrap: wrap;
            height: 66vw;
            margin: 0 auto;
            max-width: 1300px;
            width: 100%;

            @include media-query(tablet-portrait-up) {
                flex-wrap: nowrap;
                height: 20vw;
                max-height: 260px;
            }

            li {
                align-items: center;
                cursor: pointer;
                display: flex;
                flex: 1 20%;
                flex-flow: column;
                height: 50%;
                justify-content: flex-end;
                margin: 0;
                position: relative;

                @include media-query(tablet-portrait-up) {
                    height: 100%;
                }

                &::after {
                    background-color: none;
                    content: " ";
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transition: $slow-transition-time;
                    width: 100%;
                    z-index: 1;
                }

                &.world-flutes, &.saxophones {
                    flex-basis: 50%;

                    @include media-query(tablet-portrait-up) {
                        flex-basis: 20%;
                    }
                }

                &.flutes {
                    background: $flutes-image-square;
                }

                &.clarinets {
                    background: $clarinets-image-square;
                }

                &.recorders {
                    background: $recorders-image-square;
                }

                &.world-flutes {
                    background: $world-flutes-image-square;
                }

                &.saxophones {
                    background: $saxophones-image-square;
                }

                .caption {
                    align-items: center;
                    background-color: fade-out($white, .4);
                    display: flex;
                    flex-wrap: wrap;
                    height: 30%;
                    justify-content: center;
                    overflow: hidden;
                    position: relative;
                    transition: $slow-transition-time;
                    width: 100%;
                    z-index: 2;

                    @include media-query(tablet-portrait-up) {
                        height: 25%;
                    }

                    h3 {
                        @extend %sans-font;
                        color: $black;
                        font-size: 1.5rem;
                        line-height: 1em;
                        margin: 3% 0 1em 0;
                        text-align: center;
                        transition: $slow-transition-time;
                        position: relative;
                        width: 100%;

                        @include media-query(tablet-portrait-up) {
                            font-size: 1rem;
                        }

                        @include media-query(tablet-landscape-up) {
                            font-size: 2.5vw;
                        }

                        @include media-query(desktop-up) {
                            font-size: 1.5rem;
                        }
                    }

                    svg {
                        bottom: 10%;
                        position: absolute;
                        transition: $slow-transition-time;
                        width: 4vw;

                        @include media-query(tablet-portrait-up) {
                            width: 2vw;
                        }

                        path {
                            stroke: $black;
                        }
                    }
                }

                &:hover {

                    &::after {
                        background-color: fade-out($black, .5);
                    }
                }

                &.active {

                    .caption {
                        background-color: fade-out($white, .2);
                        height: 100%;

                        h3 {
                            margin: 0;

                            &::after {
                                content: url(../../../images/backgrounds/blobs/underline-blob-1.svg);
                                left: 0;
                                position: absolute;
                                top: 0;
                                width: 100%;
                                z-index: -1;
                            }
                        }

                        svg {
                            bottom: -10%;
                            transition: bottom $slow-transition-time 0s, transform 0s $slow-transition-time;
                        }

                        &.hover {
                            svg {
                                bottom: 10%;
                                transform: rotate(180deg);
                                transition: bottom $slow-transition-time 0s;
                            }
                        }
                    }

                    &::after {
                        background-color: fade-out($black, .5);
                    }
                }
            }
        }
    }

    .recording-instrument-infos {
        @include grid-column(fill);

        .recording-instrument-dropdown {
            @extend section;
            display: grid;
            grid-template-columns: 1fr;
            height: auto;
            margin: 0;
            max-height: 0;
            overflow: hidden;
            transition: max-height 1s ease-out, margin-top $slow-transition-time $slow-transition-time;

            @include media-query(tablet-landscape-up) {
                column-gap: $gutter;
                grid-template-columns: 1fr 1fr;
            }

            &.active {
                margin-top: $margin-top;
                max-height: 120rem;
                transition: $slow-transition-time;

                @include media-query(tablet-landscape-up) {
                    max-height: 60rem;
                }
            }

            &#flutes-info {
                .instrument-image {
                    background: $flutes-image-long;
                }
            }

            &#clarinets-info {
                .instrument-image {
                    background: $clarinets-image-long;
                }
            }

            &#recorders-info {
                .instrument-image {
                    background: $recorders-image-long;
                }
            }

            &#world-flutes-info {
                .instrument-image {
                    background: $world-flutes-image-long;
                }
            }

            &#saxophones-info {
                .instrument-image {
                    background: $saxophones-image-long;
                }
            }

            .instrument-image {
                align-items: center;
                display: flex;
                grid-column: 1 / span 2;
                height: 7rem;
                justify-content: center;
                margin: 0;
                text-align: center;

                h4 {
                    @extend %sans-font;
                    background: $white;
                    border: 2px solid $grey;
                    border-radius: 1rem;
                    margin: 0;
                    padding: .5rem;
                }
            }

            .instrument-info {
                @extend .content;
                grid-column: 1 / span 1;

                ul {
                    text-align: center;
                }

                table {
                    width: 100%;

                    tr {
                        border-bottom: 1px solid $grey;
                        &:last-child {
                            border: none;
                        }
                        td {
                            vertical-align: middle;

                            &:nth-child(1) {
                                border-right: 1px solid $black;
                                padding-right: $gutter / 2;
                                text-align: right;
                                white-space: nowrap;
                            }

                            &:nth-child(2) {
                                padding-left: $gutter / 2;
                                text-align: left;
                            }
                        }
                    }
                }
            }

            .temporary-wf-p {
                grid-column: 1 / -1;
            }

            .instrument-examples {
                grid-column: 1 / span 1;
                margin-top: $margin-top;
                width: 100%;

                @include media-query(tablet-landscape-up) {
                    grid-column: 2 / span 1;
                    grid-row: 2 / span 1;
                }

                h5 {
                    width: 100%;
                }

                .videos {
                    align-items: flex-start;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: $margin-top;
                    width: 100%;

                    div {
                        display: none;
                        flex: 1 40%;
                        padding-bottom: 29.125%;
                        margin: 0 0 2px 0;
                        position: relative;

                        &:nth-child(2n) {
                            margin-left: 2px;
                        }

                        &:nth-child(-n+4) {
                            display: inline-block;
                        }

                        @include media-query(tablet-landscape-up) {
                            display: inline-block;
                        }

                        .youtube {
                            height: 100%;
                            left: 0;
                            margin: 0;
                            position: absolute;
                            top: 0;
                            width: 100%;
                        }
                    }
                }
            }

            .collapse-instrument-dropdown {
                grid-column: 1 / -1;
                margin: $margin-top auto 0 auto;

                @include media-query(tablet-landscape-up) {
                    display: none;
                }
            }
        }
    }
    

    %idea {
        @extend .content;
        align-items: start;
        display: flex;
        margin-top: $margin-top;

        svg {
            flex-basis: 5rem;
        }

        p {
            text-align: left !important;
        }
    }

    .idea-1 {
        @extend %idea;
        @include grid-column(left);
    }

    .idea-2 {
        @extend %idea;
        @include grid-column(right);
    }

    .process-gear-mobile-headings {
        @include grid-column(fill);
        margin-top: $margin-top;

        ul {
            display: flex;
            width: 100%;

            @include media-query(tablet-landscape-up) {
                display: none;
            }

            li {
                color: $dark-grey;
                padding-bottom: .3rem;
                text-align: center;
                width: 50%;

                &:nth-child(1) {
                    border-right: 1px solid $dark-grey;
                }

                a {
                    @extend h2;
                    font-weight: $heading-thin;

                    &:hover {
                        color: inherit;
                    }
                }

                &.active {
                    background: no-repeat url(../../../images/backgrounds/blobs/underline-blob-1.svg);
                    color: $black;

                    a {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    %process-gear-tab {
        display: none;
        margin: 0 auto;
        max-width: 600px;

        @include media-query(tablet-landscape-up) {
            display: block;
        }

        &.active {
            display: block;
        }
        
        h2 {
            display: none;
            margin: 0;

            @include media-query(tablet-landscape-up) {
                display: block;
            }
        }

        ul {

            li {
                align-items: center;
                border: 1px solid $black;
                border-radius: 1.2rem;
                margin: .5rem 0;
                padding: .5rem;

                svg {
                    flex-basis: 2.2rem;
                    margin: .5rem;
                }
            }
        }
    }

    #tabs-process {
        @extend %process-gear-tab;
        @include grid-column(left);
    }

    #tabs-gear {
        @extend %process-gear-tab;
        @include grid-column(right);
    }

    .process-gear {
        @include grid-column(fill);

        .pg-headings {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 0;
            position: relative;
            width: 100%;

            @include media-query(tablet-landscape-up) {
                gap: $gutter;
            }

            &::after {
                bottom: -.9rem;
                content: url(../../../images/backgrounds/blobs/underline-blob-1.svg);
                left: 0;
                position: absolute;
                transition: $slow-transition-time ease-in-out;
                width: 50%;
                z-index: -1;

                @include media-query(tablet-landscape-up) {
                    display: none;
                }
            }

            h2 {
                color: $black;
                cursor: pointer;
                font-weight: $semi-bold;
                text-align: center;
                transition: $default-transition-time ease-in;
                width: 100%;

                @include media-query(tablet-landscape-up) {
                    cursor: default;
                    text-align: left;
                }

                &:nth-child(1) {
                    border-right: 1px solid $dark-grey;

                    @include media-query(tablet-landscape-up) {
                        border: none;
                    }
                }

                &:nth-child(2) {
                    color: $dark-grey;
                    font-weight: $heading-thin;

                    @include media-query(tablet-landscape-up) {
                        color: $black;
                        font-weight: $semi-bold;
                    }
                }
            }
        }

        .pg-container {
            margin: 0 auto;
            width: 100%;

            @include media-query(single-column) {
                max-width: 600px;
            }

            .pg-window {
                overflow: hidden;
                width: 100%;

                .pg-track {
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    gap: 0;
                    margin-left: 0;
                    transition: margin-left $slow-transition-time ease-in-out;
                    width: 200%;

                    @include media-query(tablet-landscape-up) {
                        gap: $gutter;
                        width: 100%;
                    }

                    div {
                        ul {
                            li {
                                align-items: center;
                                border: 1px solid $black;
                                border-radius: 1.2rem;
                                margin: .5rem 0;
                                padding: .5rem;
                
                                svg {
                                    flex-basis: 2.2rem;
                                    margin: .5rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.pg-right {
            .pg-headings {
                &::after {
                    left: 50%;
                }

                h2 {
                    @include media-query(single-column) {

                        &:nth-child(1) {
                            color: $dark-grey;
                            font-weight: $heading-thin;
                        }

                        &:nth-child(2) {
                            color: $black;
                            font-weight: $semi-bold;
                        }
                    }
                }
            }

            .pg-container {
                .pg-window {
                    .pg-track {
                        @include media-query(single-column) {
                            margin-left: -100%;
                        }
                    }
                }
            }
        }
    }

    .recording-clients {
        @include grid-column(left);

        .clients-container {
            .entry {
                border: 1px solid $grey;
                border-radius: 1.2rem;
                margin: $margin-top/2 0;
                padding: $gutter/2;

                .info {
                    h3 {
                        border-bottom: 1px solid $grey;
                        font-weight: $semi-bold;
                    }
                }
            }
        }
    }

    .recording-testimonials {
        @include grid-column(right);
        div {
            p {
                border: 1px solid $grey;
                border-radius: 1.2rem;
                margin: $margin-top/2 0;
                padding: $gutter/2;
                
                span {
                    display: block;
                    font-style: italic;
                    margin-top: .5em;

                    @include media-query(tablet-portrait-up) {
                        margin-left: 1rem;
                    }

                    &::before {
                        content: "~";
                    }
                }
            }
        }
    }

    .recording-pricing-contact {
        @include grid-column(fill);

        // display: grid;
        display: none;
        grid-template-columns: 1fr;

        @include media-query(tablet-landscape-up) {
            grid-template-columns: 1fr 2fr;
        }
    }

    footer {
        @include grid-column(fill);
    }
}