@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[hidden] {
  display: none;
}

body {
  background-color: #fff;
}

main {
  background-color: #fff;
}

.img-container {
  width: 100%;
  height: 490px;
  overflow: hidden;
}

.img-container img {
  height: 100%;
  display: inline-block;
}

body {
  text-align: center;
}

html {
  font-size: 16px;
}

h2, button {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 26px;
}

body {
  color: #1E0C00;
}

h1 {
  font-family: "Bad Script", cursive;
  font-size: 5rem;
  line-height: 110px;
}

em {
  font-style: italic;
}

button {
  background: -webkit-gradient(linear, left top, left bottom, from(#F9BE00), to(#F29E00));
  background: linear-gradient(#F9BE00, #F29E00);
  border: 1px solid #1E0C00;
  border-radius: 1.2em;
  cursor: pointer;
  font-size: 1.2rem;
  padding: .5em 1em;
}

button em {
  font-style: normal;
  text-transform: uppercase;
}

a {
  cursor: pointer;
}

header h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

nav ul img {
  height: 30px;
}

nav ul li {
  display: inline-block;
  line-height: 1.2em;
  margin: 0 8px;
}

.nav-mobile {
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px rgba(18, 9, 4, 0.5);
          box-shadow: 0 0 30px rgba(18, 9, 4, 0.5);
  padding: .7em;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

main * {
  margin-top: 1.7rem;
}

main section {
  margin: 0;
}

main #intro {
  margin-top: 0;
  padding-top: 3rem;
}

iframe {
  display: block;
  width: 100%;
}

.instrument-list {
  margin-top: .8em;
}

.instrument-list li {
  margin-top: 0;
}

.instrument-list li h4 {
  cursor: pointer;
  margin-top: 0;
}

.instrument-list li h4:after {
  content: "▼";
  font-size: .5em;
  padding: .8em;
  vertical-align: top;
}

.instrument-list li ul {
  display: none;
}

.divider-img-container {
  background-color: #120904;
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.divider-img-container .left {
  width: 110%;
  display: block;
  position: absolute;
  bottom: 50%;
  z-index: 99;
}

#title {
  height: 100vh;
}

#hero-img {
  position: fixed;
  bottom: 0;
  z-index: -1;
}
/*# sourceMappingURL=main.css.map */