@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, .soundcloud, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, .soundcloud {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[hidden] {
  display: none;
}

body {
  background-color: #f7f5ed;
}

.img-container {
  width: 100%;
  height: 490px;
  overflow: hidden;
}

.img-container img {
  height: 100%;
  display: inline-block;
}

body {
  text-align: center;
}

.hide {
  display: none;
}

html {
  font-size: 16px;
}

h2, button {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.7em;
}

body {
  color: #1E0C00;
}

h1 {
  font-family: "Bad Script", cursive;
  font-size: 5rem;
  line-height: 1.3em;
}

blockquote {
  color: #f7f5ed;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  letter-spacing: .03em;
  line-height: 1.5em;
}

em {
  font-style: italic;
}

button {
  background: -webkit-gradient(linear, left top, left bottom, from(#F9BE00), to(#F29E00));
  background: linear-gradient(#F9BE00, #F29E00);
  border: 1px solid #1E0C00;
  border-radius: 1.2em;
  cursor: pointer;
  font-size: 1.2rem;
  padding: .5em 1em;
}

button em {
  font-style: normal;
  text-transform: uppercase;
}

.btn-dark-background {
  color: #1E0C00;
}

a {
  cursor: pointer;
}

p a {
  text-decoration: underline;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  padding-top: .7em;
}

header h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

nav ul img {
  height: 30px;
}

nav ul li {
  display: inline-block;
  line-height: 1.2em;
  margin: 0 8px;
}

.nav-mobile {
  background-color: #f7f5ed;
  -webkit-box-shadow: 0 0 30px rgba(18, 9, 4, 0.5);
          box-shadow: 0 0 30px rgba(18, 9, 4, 0.5);
  padding: .7em;
  z-index: 5;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main * {
  margin-top: 1.7rem;
}

main section, main .soundcloud {
  grid-column: 1 / -1;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  position: relative;
}

main #intro {
  margin-top: 0;
  padding-top: 3rem;
}

main .recording {
  padding-bottom: 3rem;
}

main .recording-testimonials {
  background-color: #4D5952;
  padding: 2.2em;
}

main .career {
  padding-top: 1.5rem;
  background-color: #1E0C00;
  color: #f7f5ed;
}

main .lux {
  padding-top: 3rem;
}

main .teaching-testimonials {
  background-color: #1E0C00;
  margin-top: 1.7rem;
}

iframe, .divider-left, .divider-right {
  width: 100vw;
  position: relative;
  left: -1.7rem;
}

footer {
  background-color: #DFDFDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 1.7rem 1rem 1.7rem;
}

iframe {
  display: block;
  height: calc(900vw / 16);
}

.instrument-list {
  margin-top: .8em;
}

.instrument-list li {
  margin-top: 0;
}

.instrument-list li h4 {
  cursor: pointer;
  margin-top: 0;
}

.instrument-list li h4:after {
  content: "▼";
  font-size: .5em;
  padding: .8em;
  vertical-align: top;
}

.instrument-list li ul {
  margin: .5rem 0 .5rem 0;
}

.divider-left img, .divider-right img {
  max-width: 90%;
  display: block;
  position: absolute;
  z-index: 2;
}

.divider-left {
  left: -2.2rem;
}

.divider-left img {
  float: left;
}

.divider-right {
  right: -1.7rem;
}

.divider-right img {
  right: .9rem;
}

.flute-divider {
  height: 3rem;
  top: -7rem;
}

.clarinet-divider {
  height: 5rem;
  top: -2rem;
}

.saxophone-divider {
  height: 8rem;
  top: -5.6rem;
}

.ellis-flute-divider {
  height: 3.4rem;
  top: -5rem;
}

.recorder-divider {
  height: 5.3rem;
  top: -2rem;
}

.soundcloud {
  padding-top: 1rem;
}

.soundcloud iframe {
  height: 400px;
}

.soundcloud .soundcloud-link {
  display: none;
  font-size: .6rem;
  color: #1E0C00;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
}

.soundcloud .soundcloud-link a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */