@charset "UTF-8";
/* MEDIA QUERIES - accepts:
mobile,
mobile-landscape-only,
tablet-portrait-only,
tablet-portrait-up,
tablet-landscape-only,
tablet-landscape-up,
desktop-up,
big-desktop-up
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, .landing-section .desktop-landing-content, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, .landing-section .desktop-landing-content {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[hidden] {
  display: none;
}

form * {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

html {
  font-size: 16px;
  font-size: calc(15.5px + .2vw);
}

body {
  background-color: #efeeea;
}

@media (max-width: 599px) {
  body {
    text-align: center;
  }
}

.hide {
  display: none;
}

h2, button {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

body, input, textarea {
  font-family: "Raleway", sans-serif;
  line-height: 1.7em;
}

body {
  color: #1E0C00;
}

h1 {
  font-family: "Bad Script", cursive;
  font-size: 4rem;
  line-height: 1.3em;
}

h2 {
  line-height: 1.2em;
}

blockquote {
  color: #efeeea;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  letter-spacing: .03em;
  line-height: 1.5em;
}

em {
  font-style: italic;
}

button {
  background: -webkit-gradient(linear, left top, left bottom, from(#F9BE00), to(#F29E00));
  background: linear-gradient(#F9BE00, #F29E00);
  border: 1px solid #1E0C00;
  border-radius: 1.2em;
  cursor: pointer;
  font-size: 1.2rem;
  padding: .5em 1em;
}

button em {
  font-style: normal;
  text-transform: uppercase;
}

button.btn-secondary {
  background: #B1A14D;
  border-radius: .5em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button.btn-secondary:hover {
  background-color: #c4ae3a;
}

button[type=submit] {
  background: #B1A14D;
  color: #1E0C00;
  font-size: 1rem;
  max-width: 8rem;
  position: relative;
  text-align: left;
  width: 100%;
}

button[type=submit]:hover {
  background: #c4ae3a;
}

button[type=submit] svg {
  background-color: #c4ae3a;
  bottom: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3rem -0.4rem #1E0C00;
          box-shadow: 0 0 3rem -0.4rem #1E0C00;
  position: absolute;
  right: 0;
  height: 100%;
}

a {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover {
  color: #B1A14D;
}

a:hover:after {
  color: #B1A14D;
}

p a {
  text-decoration: underline;
}

button a:hover {
  color: inherit;
}

form input, form textarea {
  background-color: #efeeea;
  border-radius: .6em;
  color: #1E0C00;
  display: block;
  font-size: 16px;
  padding: .2rem .5rem;
  width: 100%;
}

form textarea {
  resize: none;
}

form *::-webkit-input-placeholder {
  color: #B8B3A1;
}

form *:-ms-input-placeholder {
  color: #B8B3A1;
}

form *::-ms-input-placeholder {
  color: #B8B3A1;
}

form *::placeholder {
  color: #B8B3A1;
}

svg {
  margin: 0;
}

svg * {
  fill: none;
  stroke: #1E0C00;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

svg .filament {
  stroke: #F9BE00;
}

svg .fill {
  fill: #1E0C00;
  stroke: none;
}

svg .square {
  stroke-linecap: square;
}

svg .test {
  stroke: #F9BE00;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 900px) {
  .grid-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  height: 30vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
  width: 100%;
  z-index: 3;
}

@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  header.scroll {
    background-color: rgba(239, 238, 234, 0.96);
    height: 55px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
}

@media (min-width: 600px) {
  header {
    position: fixed;
    padding: 1rem 0;
    width: 100%;
  }
}

@media (max-width: 899px) and (orientation: landscape) {
  header {
    position: absolute;
  }
}

@media (min-width: 900px) {
  header {
    background-color: rgba(239, 238, 234, 0.96);
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
  }
}

header #title {
  margin: 0 3vw;
  position: relative;
}

header #title:hover {
  color: inherit;
}

header #title h1 {
  white-space: nowrap;
}

@media (min-width: 600px) {
  header #title h1.small {
    font-size: .9rem;
  }
}

@media (min-width: 900px) {
  header #title h1.small {
    font-size: 1.8rem;
  }
}

@media (max-width: 599px) {
  header #title h1 {
    font-size: 15vmin;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  header #title h1 {
    font-size: 3rem;
  }
}

@media (min-width: 900px) {
  header #title h1 {
    padding-top: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

header #title .tagline {
  display: block;
  left: 6rem;
  line-height: .1rem;
  text-align: left;
  position: relative;
}

header #title .tagline span {
  display: none;
}

@media (max-width: 599px) {
  header #title .tagline {
    font-size: 4vmin;
  }
}

@media (min-width: 900px) {
  header #title .tagline {
    left: 5rem;
  }
  header #title .tagline.small {
    font-size: .5rem;
    left: 2.1rem;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  header #title .tagline {
    font-size: .85rem;
    left: 3.5rem;
  }
}

.tagline {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.landing-section {
  grid-column: 1 / -1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background-image: url(../../../../images/instruments/instrument-cartoons-single-image.png);
  background-position: bottom 0 center;
  background-repeat: no-repeat;
  background-size: 98vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  min-height: 100vh;
}

@media (max-width: 899px) and (orientation: landscape) {
  .landing-section {
    background-position: bottom 0 right 3vw;
    background-size: 50vw;
    height: 100vh;
  }
}

@media (min-width: 600px) {
  .landing-section {
    min-height: 100vh;
  }
}

@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .landing-section {
    padding-top: 30vh;
  }
}

@media (min-width: 900px) {
  .landing-section {
    background-attachment: fixed;
    background-position: bottom 0 right 3vw;
    background-size: 60vw;
    margin: 0 3vw;
    padding-top: 20vh;
  }
}

.landing-section .tagline {
  -webkit-transition: opacity 2.5s;
  transition: opacity 2.5s;
}

.landing-section .tagline.fade {
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

@media (min-width: 900px) {
  .landing-section .tagline {
    display: none;
  }
}

@media (max-width: 899px) and (orientation: landscape) {
  .landing-section .tagline {
    display: none;
  }
}

.landing-section .desktop-landing-content {
  display: none;
  width: 40%;
}

.landing-section .desktop-landing-content h3 {
  margin-top: 0;
}

@media (max-width: 899px) and (orientation: landscape) {
  .landing-section .desktop-landing-content {
    display: none;
  }
}

@media (min-width: 900px) {
  .landing-section .desktop-landing-content {
    display: block;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

nav ul li {
  display: inline-block;
  line-height: 1.2em;
  position: relative;
}

nav ul li .offer:after {
  content: "offer";
  color: #F29E00;
  display: inline-block;
  font-size: .7em;
  font-weight: 700;
  position: absolute;
  right: -1.5em;
  top: -1em;
}

nav ul li a svg {
  height: 10vw;
  max-height: 35px;
}

nav ul li a:active {
  text-decoration: overline;
}

nav ul li a:active svg .stroke {
  stroke: #B1A14D;
}

.nav-desktop, .nav-main {
  display: none;
  text-transform: uppercase;
  margin-left: 3vw;
  max-width: 650px;
}

@media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
  .nav-desktop, .nav-main {
    display: block;
  }
}

@media only screen and (min-width: 700px) {
  .nav-desktop, .nav-main {
    display: block;
  }
}

@media (max-width: 899px) and (orientation: landscape) {
  .nav-desktop, .nav-main {
    display: none;
  }
}

@media (min-width: 1250px) {
  .nav-desktop, .nav-main {
    min-width: 50%;
  }
}

.nav-desktop ul, .nav-main ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-desktop ul li, .nav-main ul li {
  margin-right: 3vw;
}

.nav-mobile {
  background: -webkit-gradient(linear, left top, right top, from(rgba(199, 199, 192, 0.96)), color-stop(15%, rgba(223, 223, 219, 0.96)), color-stop(85%, rgba(223, 223, 219, 0.96)), to(rgba(199, 199, 192, 0.96)));
  background: linear-gradient(to right, rgba(199, 199, 192, 0.96) 0%, rgba(223, 223, 219, 0.96) 15%, rgba(223, 223, 219, 0.96) 85%, rgba(199, 199, 192, 0.96) 100%);
  -webkit-box-shadow: 0 0 30px rgba(18, 9, 4, 0.5);
          box-shadow: 0 0 30px rgba(18, 9, 4, 0.5);
  font-size: .7rem;
  z-index: 5;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
  top: 0;
}

.nav-mobile.dismiss {
  top: -100%;
}

@media (min-width: 600px) {
  .nav-mobile {
    display: none;
    width: 100%;
  }
}

@media (max-width: 899px) and (orientation: landscape) {
  .nav-mobile {
    display: block;
  }
}

.nav-mobile ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  max-width: 400px;
  padding: .7em;
  text-align: center;
}

.nav-mobile ul li a:hover {
  color: inherit;
}

.nav-mobile ul li a:active {
  color: #B1A14D;
  text-decoration: none;
}

* {
  margin-top: 1.7rem;
}

li {
  margin-top: 0;
}

section, .landing-section .desktop-landing-content {
  padding: 2rem 3vw;
  margin: 0;
  position: relative;
}

section *, .landing-section .desktop-landing-content * {
  margin-top: 1.7rem;
}

.first-section {
  margin-top: 20vh;
}

.content {
  margin: 0 auto;
  max-width: 500px;
}

.testimonial {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 3em;
}

.testimonial * {
  margin: 0;
  max-width: 30em;
}

.testimonial blockquote span {
  display: block;
  margin-top: .7em;
}

footer {
  grid-column: -1 / span -1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DFDFDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 3vw;
}

footer .links {
  font-size: 0.8rem;
  text-align: center;
  width: 13rem;
}

@media (min-width: 1250px) {
  footer .links {
    margin-top: 4rem;
  }
}

footer .links p, footer .links a {
  display: block;
  height: 1.5em;
  position: relative;
  bottom: .5em;
}

footer .links .consultation {
  border-bottom: 1px solid #1E0C00;
  padding-bottom: .1em;
}

footer .links .copyright {
  border-top: 1px solid #1E0C00;
  padding-top: .6em;
}

footer .links .centre-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr;
  height: 3.5rem;
  overflow: hidden;
  width: 100%;
}

footer .links .centre-links .footer-box-left, footer .links .centre-links .footer-box-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

footer .links .centre-links .footer-box-left:nth-child(1), footer .links .centre-links .footer-box-right:nth-child(1) {
  padding-top: .4rem;
}

footer .links .centre-links .footer-box-left .social-icons, footer .links .centre-links .footer-box-right .social-icons {
  position: relative;
  top: .85rem;
}

footer .links .centre-links .footer-box-left .social-icons a, footer .links .centre-links .footer-box-right .social-icons a {
  display: inline-block;
  position: relative;
  width: 1.1rem;
}

footer .links .centre-links .footer-box-left .social-icons a img, footer .links .centre-links .footer-box-right .social-icons a img {
  height: 1rem;
  position: absolute;
  left: 0;
}

footer .links .centre-links .footer-box-left {
  border-right: 1px solid #1E0C00;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: .5rem;
}

footer .links .centre-links .footer-box-right {
  padding-left: .5rem;
}

.contact-form {
  background-color: #4D5952;
}

.contact-form .content h2 {
  color: #efeeea;
  margin-top: 2.5rem;
}

@media (min-width: 900px) {
  .contact-form .content h2 {
    margin-top: 0;
  }
}

.contact-form .content form {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 3vw;
          column-gap: 3vw;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 1250px) {
  .contact-form .content form {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.contact-form .content form div {
  margin: 0;
  width: 100%;
}

.contact-form .content form div * {
  margin-top: 1rem;
}

.contact-form .content form .details-submit {
  text-align: right;
}

@media (min-width: 900px) {
  .contact-form .content form .details-submit button {
    max-width: 250px;
  }
}

iframe {
  display: block;
  height: 281.25px;
  width: 100%;
}

.instrument-list {
  margin-top: .8em;
  position: relative;
}

@media (min-width: 600px) {
  .instrument-list {
    margin-left: 3vw;
    width: 8em;
  }
}

.instrument-list li {
  margin-top: 0;
}

@media (max-width: 599px) {
  .instrument-list li {
    position: relative;
    left: .5em;
  }
}

.instrument-list li h4 {
  cursor: pointer;
  margin-top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 0;
}

.instrument-list li h4:hover {
  color: #4D5952;
}

.instrument-list li h4:after {
  content: "▽";
  display: inline-block;
  font-size: .6em;
  padding: 0 .5em;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  vertical-align: top;
}

@media (min-width: 600px) {
  .instrument-list li h4:after {
    content: "▷";
  }
}

@media (min-width: 600px) {
  .instrument-list li h4 {
    border-right: 1px solid #1E0C00;
    text-align: right;
  }
}

.instrument-list li ul {
  display: none;
  font-weight: 200;
}

@media (max-width: 599px) {
  .instrument-list li ul {
    margin: .5rem 0 .5rem 0;
  }
}

@media (min-width: 600px) {
  .instrument-list li ul {
    left: 8.5em;
    margin: 0;
    position: absolute;
    top: 0;
    width: 14em;
  }
}

@media (max-width: 599px) {
  .instrument-list li ul li {
    position: relative;
    left: -.5em;
  }
}

.instrument-list li.active h4 {
  color: #B1A14D;
}

.instrument-list li.active h4:after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.instrument-list li.active ul {
  display: block;
}

.clarinet-divider, .flute-divider, .saxophone-divider, .recorder-divider, .ellis-flute-divider {
  margin: 0;
  position: absolute;
  z-index: 2;
}

.clarinet-divider img, .flute-divider img, .saxophone-divider img, .recorder-divider img, .ellis-flute-divider img {
  margin: 0;
  width: 90vw;
  max-width: 30rem;
}

.clarinet-divider {
  left: 0;
}

.clarinet-divider img {
  float: left;
}

.flute-divider, .saxophone-divider, .recorder-divider {
  right: 0;
}

.flute-divider img, .saxophone-divider img, .recorder-divider img {
  float: right;
}

.flute-divider {
  bottom: -40px;
}

.clarinet-divider {
  bottom: -40px;
}

.saxophone-divider {
  bottom: -60px;
}

@media (min-width: 900px) {
  .saxophone-divider {
    display: none;
  }
}

.ellis-flute-divider {
  bottom: -40px;
  right: 0;
}

.ellis-flute-divider img {
  float: right;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (min-width: 900px) {
  .ellis-flute-divider {
    left: 0;
  }
  .ellis-flute-divider img {
    float: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.recorder-divider {
  bottom: -65px;
}

.soundcloud {
  display: none;
}

@media (min-width: 900px) {
  .soundcloud {
    display: block;
  }
}

.soundcloud iframe {
  height: 160px;
}

@media (max-width: 899px) and (orientation: landscape) {
  .home-page header {
    display: block;
    height: 100vh;
    padding-left: 3vw;
    position: absolute;
    width: 50vw;
  }
  .home-page header.scroll {
    background-color: transparent;
  }
  .home-page header #title {
    text-align: left;
  }
  .home-page header #title h1 {
    font-size: 8vw;
    padding-top: 20vh;
  }
  .home-page header #title h1.small {
    font-size: 8vw;
  }
  .home-page header #title .tagline {
    left: 0;
    line-height: 1.7em;
    margin-top: 2rem;
    text-align: left;
  }
  .home-page header #title .tagline span {
    display: block;
  }
}

.home-page .recording {
  grid-column: 1 / -1;
  background: -webkit-gradient(linear, left top, left bottom, from(#efeeea), to(#DFDFDB));
  background: linear-gradient(180deg, #efeeea, #DFDFDB);
  -webkit-box-shadow: 0 0 30px rgba(18, 9, 4, 0.5);
          box-shadow: 0 0 30px rgba(18, 9, 4, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (max-width: 599px) {
  .home-page .recording {
    padding-bottom: 3rem;
  }
}

@media (min-width: 900px) {
  .home-page .recording {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .home-page .recording .instruments-section {
    margin-left: 3vw;
  }
}

.home-page .recording div {
  margin-top: 0;
}

.home-page .recording #intro {
  margin-top: 0;
  padding-top: 1rem;
}

@media (min-width: 900px) {
  .home-page .recording #mobile-intro-content {
    display: none;
  }
}

.home-page .recording #video-1 {
  margin-top: 1.7rem;
}

.home-page .recording-testimonials {
  grid-column: 1 / -1;
  background: radial-gradient(#4D5952, #353e39);
}

.home-page .career {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  background-color: #1E0C00;
  color: #efeeea;
}

.home-page .career button {
  color: #1E0C00;
}

.home-page .lux {
  grid-column: -1 / span -1;
  background: -webkit-gradient(linear, left bottom, left top, from(#efeeea), to(#DFDFDB));
  background: linear-gradient(0deg, #efeeea, #DFDFDB);
}

@media (min-width: 900px) {
  .home-page .lux {
    padding-top: 1rem;
  }
}

.home-page .lessons {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#efeeea), to(#DFDFDB));
  background: linear-gradient(180deg, #efeeea, #DFDFDB);
}

.home-page .lessons .content h2 {
  margin-top: -2rem;
}

@media (min-width: 900px) {
  .home-page .lessons .content h2 {
    margin-top: 2rem;
  }
}

.home-page .teaching-testimonials {
  grid-column: -1 / span -1;
  background: radial-gradient(#471c00, #140800);
}
