.box, .ticks {
    li {
        align-items: flex-start;
        display: flex;
        text-align: left;
        margin: 0;
        width: 100%;

        svg {
            flex-basis: 2rem;
            // margin-right: 1rem;
        }

        p, h3 {
            margin: 0;
            padding: 0 .5em;
            text-align: left;
        }
    }
}