.contact-form {
    @include grid-column(left);
    margin: $margin-top 0;

        @include media-query(tablet-landscape-up) {
            margin: 0;
        }

    div {

        form {
            padding: 0;

            div {
                margin: 0;
                width: 100%;

                * {
                    margin-top: 1rem;
                }
            }

            .details-submit {
                text-align: right;
            }
        }
    }
}