.contact-form {
    @include grid-column(fill);
    margin: $margin-top 0;

        @include media-query(tablet-landscape-up) {
            margin: 0;
        }

    div {

        form {
            padding: 0;

            fieldset {
                display: grid;
                gap: $gutter;
                grid-template-columns: 1fr;

                @include media-query(tablet-landscape-up) {
                    grid-template-columns: 1fr 1fr;
                }

                div {
                    margin: 0;
                    width: 100%;
                }
            }

            button {
                @include media-query(tablet-landscape-up) {
                    margin: 0;
                }
            }
        }
    }
}