%divider {
    margin: 0;
    position: absolute;
    z-index: 2;

    img {
        margin: 0;
        width: 90%;
        max-width: 40rem;
    }
}

%divider-left {
    @extend %divider;
    left: 0;

    img {
        float: left;
    }
}

%divider-right {
    @extend %divider;
    right: 0;
    
    img {
        float: right;
    }
}

.flute-divider {
    @extend %divider-right;
    bottom: -40px;
}

.clarinet-divider {
    @extend %divider-left;
    bottom: -60px;
}

.saxophone-divider {
    @extend %divider-right;
    bottom: -75px;
}

.ellis-flute-divider {
    @extend %divider-left;
    bottom: -40px;
}

.recorder-divider {
    @extend %divider-right;
    bottom: -100px;
}