%divider {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 30rem;

    .line {
        stroke: $grey;
    }

    @include media-query(tablet-landscape-up) {
        max-width: 50vw;
    }

    @include media-query(desktop-up) {
        width: 50vw;
    }
}

.divider-left {
    @extend %divider;
    left: -$gutter;
}

.divider-right {
    @extend %divider;
    float: right;
    right: -$gutter;
}

.flute-divider {
    @extend .divider-right;
    margin: 1rem 0 -2rem 0;
}

.clarinet-divider {
    @extend .divider-left;
    margin: -4rem 0 -2rem 0;
}

.saxophone-divider {
    @extend .divider-right;
    margin: -4rem 0 -4rem 0;
}

.e-flute-divider {
    @extend .divider-left;
    margin: -.5rem 0 -3rem 0;
}

.recorder-divider {
    @extend .divider-right;
    margin: -2rem 0 -6rem 0;
}