%divider {
    @extend %no-gutter;
    // // width: 100%;
    // height: 0;
    // // position: relative;

    img {
        width: 90%;
        display: block;
        position: absolute;
        z-index: 2;
    }
}

.divider-left {
    @extend %divider;
    left: -$gutter - .5rem;
    img {
        float: left;
    }
}

.divider-right {
    @extend %divider;
    right: -$gutter;
    img {
        right: .9rem;
    }
}

.flute-divider {
    top: -7rem;
}

.clarinet-divider {
    top: -2rem;
}

.saxophone-divider {
    top: -5.6rem;
}

.ellis-flute-divider {
    top: -5rem;
}

.recorder-divider {
    top: -2rem;
}