.instrument-list {
    margin-top: .8em;
    position: relative;

    @include media-query(tablet-portrait-up) {
        margin-left: 3vw;
        width: 8em;
    }

    li {
        margin-top: 0;

        @include media-query(mobile) {
            position: relative;
            left: .5em;
        }

        h4 {
            cursor: pointer;
            margin-top: 0;
            transition: .3s;
            z-index: 0;

            &:hover {
                color: $dark-grey;
            }

            &:after {
                content: "▽";
                display: inline-block;
                font-size: .6em;
                padding: 0 .5em;
                transition: transform .4s;
                vertical-align: top;

                @include media-query(tablet-portrait-up) {
                    content: "▷";
                }
            }

            @include media-query(tablet-portrait-up) {
                border-right: 1px solid $black;
                text-align: right;
            }
        }

        ul {
            display: none;
            font-weight: $light;

            @include media-query(mobile) {
                margin: .5rem 0 .5rem 0;
            }

            @include media-query(tablet-portrait-up) {
                left: 8.5em;
                margin: 0;
                position: absolute;
                top: 0;
                width: 14em;
            }

            li {
                @include media-query(mobile) {
                    position: relative;
                    left: -.5em;
                }
            }
        }

        &.active {

            h4 {
                color: $primary;

                &:after {
                    transform: rotate(-180deg);
                }
            }

            ul {
                display: block;
            }
        }
    }
}