.instrument-list {
    margin-top: .8em;
    li {
        margin-top: 0;
        h4 {
            cursor: pointer;
            margin-top: 0;
            // text-decoration: underline;
            &:after {
                content: "▼";
                font-size: .5em;
                padding: .8em;
                vertical-align: top;
            }
        }
        ul {
            display: none;
        }
    }
}