button {
    @extend %sans-font;
    @include button-box-shadow($grey);
    background: linear-gradient($accent, $accent-gradient);
    border-radius: 1.2em;
    cursor: pointer;
    font-size: 1.2rem;
    padding: .5em 1em;
    transition: $default-transition-time;
    
    em {
        font-style: normal;
        text-transform: uppercase;
    }

    &:hover {
        @include button-box-shadow-high($grey);
        transform: scale(1.03);
    }

    &:active {
        transform: scale(.99);
    }

    &.btn-secondary {
        @include button-box-shadow($secondary);
        background: linear-gradient($secondary, $secondary-gradient);
        border-radius: .5em;
        // transition: $default-transition-time;
        
        // &:hover {
        //     background: $bright-chartreuse;
        // }
    }

    &.show-hide {
        border: $black-border;
        background: linear-gradient($white, $white-gradient);
        font-size: .9rem;
        font-weight: $normal;
        padding: .1rem 2rem;

        span {
            bottom: .2em;
            font-size: .6em;
            padding-left: .8em;
            position: relative;

            &.down {
                bottom: .1em;
            }
        }

        &:hover {
            box-shadow: none;
            transform: scale(.99);
        }
    }

    &[type=submit] {
        background: linear-gradient($accent, $accent-gradient);
        box-shadow: none;
        color: $black;
        font-size: 1rem;
        max-width: 8rem;
        position: relative;
        text-align: left;
        width: 100%;

        // &:hover {
        //     background: $bright-chartreuse;
        // }
            
        svg {
            background-color: $white;
            bottom: 0;
            border-radius: 50%;
            // box-shadow: 0 0 .4rem -.1rem $black;
            // padding: .7rem;
            // padding: .5rem;
            position: absolute;
            right: -.2px;
            height: 100%;
        }
    }
}