button {
    @extend %sans-font;
    // background: no-repeat url(../../../images/backgrounds/blobs/button-2-accent.svg);
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: $margin-top;
    padding: .5em 1em;
    transition: $default-transition-time;
    z-index: 10;

    &.button-primary {
        background: no-repeat url(../../../images/backgrounds/blobs/button-2-accent.svg);
    }

    a {
        display: inline;

        &:after {
            content: url(../../../images/icons/boxed-icons/go.svg);
            display: inline-block;
            margin-left: .3em;
            position: relative;
            top: .2em;
            width: 1em;
        }
    }
    
    em {
        font-style: normal;
        text-transform: uppercase;
    }

    &:hover {
        transform: $hover-grow;
    }

    &:active {
        transform: $hover-shrink;
    }

    &.button-secondary {
        background: no-repeat url(../../../images/backgrounds/blobs/button-1.svg);
    }

    &.show-hide, &.show-more, &.collapse-instrument-dropdown {
        border: $black-border;
        border-radius: 1.2em;
        background: linear-gradient($white, $white-gradient);
        font-size: .9rem;
        font-weight: $normal;
        padding: .1rem 2rem;
        z-index: 60;

        a {
            &::after {
                content: none;
            }
        }

        span {
            bottom: .2em;
            font-size: .6em;
            padding-left: .8em;
            position: relative;

            &.down {
                bottom: .1em;
            }
        }

        .short & {

            &::before {
                content: "Show more";
            }

            span {
                bottom: .1em;

                &::before {
                    content: "▼";
                }
            }
        }

        .full & {
            @include media-query(single-column) {
                bottom: 2.5rem;
                left: $gutter;
                position: fixed;
            }

            &::before {
                content: "Show less";
            }

            span {
                &::before {
                    content: "▲";
                }
            }
        }

        &:hover {
            transform: scale(.97);
        }
    }

    &.button-send {
        background: no-repeat url(../../../images/backgrounds/blobs/button-2-pink.svg);
        box-shadow: none;
        color: $black;
        float: right;
        font-size: 1.1rem;
        // margin: 0 auto;
        max-width: 8rem;
        position: relative;
        text-align: left;

        &:after {
            content: url(../../../images/icons/boxed-icons/send.svg);
            display: inline-block;
            margin-left: .3em;
            position: relative;
            top: .1em;
            width: 1.6em;
        }
    }

    &.no-style {
        background: none;
        cursor: pointer;
        font: inherit;
        height: inherit;
        line-height: inherit;
        margin: inherit;
        padding: inherit;
        transition: $default-transition-time;

        &:hover {
            transform: none;
        }

        &:active {
            transform: none;
        }
    }

    &.mobile-nav {
        @extend .no-style;
    }
}