button {
    @extend %sans-font;
    background: no-repeat url(../../../images/backgrounds/blobs/button-2-accent.svg);
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: $margin-top;
    padding: .5em 1em;
    transition: $default-transition-time;

    a {
        display: inline;

        &:after {
            content: url(../../../images/icons/boxed-icons/go.svg);
            display: inline-block;
            margin-left: .3em;
            position: relative;
            top: .2em;
            width: 1em;
        }
    }
    
    em {
        font-style: normal;
        text-transform: uppercase;
    }

    &:hover {
        transform: scale(1.03);
    }

    &:active {
        transform: scale(.99);
    }

    &.button-secondary {
        background: no-repeat url(../../../images/backgrounds/blobs/button-1.svg);
    }

    &.show-hide {
        border: $black-border;
        border-radius: 1.2em;
        background: linear-gradient($white, $white-gradient);
        font-size: .9rem;
        font-weight: $normal;
        padding: .1rem 2rem;

        a {
            &::after {
                content: none;
            }
        }

        span {
            bottom: .2em;
            font-size: .6em;
            padding-left: .8em;
            position: relative;

            &.down {
                bottom: .1em;
            }
        }

        &:hover {
            transform: scale(.97);
        }
    }

    &[type=submit] {
        background: no-repeat url(../../../images/backgrounds/blobs/button-2-pink.svg);
        box-shadow: none;
        color: $black;
        float: right;
        font-size: 1.1rem;
        max-width: 8rem;
        position: relative;
        text-align: left;

        &:after {
            content: url(../../../images/icons/boxed-icons/send.svg);
            display: inline-block;
            margin-left: .3em;
            position: relative;
            top: .1em;
            width: 1.6em;
        }
    }
}