form {
    margin: 0;

    h2 {
        margin: 0 !important;
    }

    div {
        margin: 0;
        width: 100%;
    }

    label {
        display: inline-block;
        margin-top: 1rem;
    }

    .invalid {
        border: 2px solid red !important;
    }

    input:not([type=checkbox]):not([type=radio]),textarea {
        background-color: $white;
        border: 1px solid $black;
        border-radius: .6em;
        color: $black;
        display: block;
        font-size: $form-font-size;
        padding: .2rem .5rem;
        width: 100%;
    }

    input[type=checkbox], input[type=radio] {
        margin: 0;
        width: auto;
    }

    textarea {
        height: 8rem;
        resize: none;
    }

    *::placeholder {
        color: $dark-grey;
    }
}

#nextBtn, .nextBtn, .submitBtn {
    background: $accent;
    border-radius: .5rem;
    width: 100%;

    &.pink {
        background: $light;
    }

    &:disabled {
        background: none;
        color: $grey;
        cursor: default;

        &:hover {
            transform: none;
        }
    }
}