// body {
//     @include media-query(mobile) {
//         text-align: center;
//     }
// }

.hide {
    display: none;
}

img {
    max-width: 100%;
}

hr {
    @include grid-column(fill);
    border-top: 1px solid $grey;
    margin-top: $margin-top;
    width: 100%;
}