a {
    cursor: pointer;
    transition: $default-transition-time;

    &:hover {
        color: $chartreuse;

        &:after {
            color: $chartreuse;
        }
    }
}

p {
    a {
        text-decoration: underline;
    }
}

button {
    a:hover {
        color: inherit;
    }
}