// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

%sans-font {
    font-family: $sans;
    font-size: 2rem;
    // font-weight: $semi-bold;
    font-weight: $heading-thin;
}

%serif-font {
    font-family: $serif;
    font-weight: $thin;
    line-height: 1.7em;
}

body {
    @extend %serif-font;
    color: $black;
}

h1 {
    font-family: $handwriting;
    font-size: $title-size;
    line-height: 1.3em;
}

h2 {
    @extend %sans-font;
    line-height: 1.2em;
}

h5 {
    @extend %sans-font;
    font-size: 1.2rem;
    line-height: 1.2em;
}

input, textarea {
    @extend %serif-font;
}

blockquote {
    font-family: $serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: $bold;
    letter-spacing: .03em;
    line-height: 1.5em;
}

em {
    font-style: italic;
    font-weight: $normal;
}