html {
    font-size: 16px;
}

%sans-font {
    font-family: $sans;
    font-size: 2rem;
    font-weight: 700;
}

%serif-font {
    font-family: $serif;
    line-height: 26px;
}

body {
    @extend %serif-font;
    color: $warm-black;
}

h1 {
    font-family: $handwriting;
    font-size: 5rem;
    line-height: 110px;
}

h2 {
    @extend %sans-font;
}

em {
    font-style: italic;
}