/* MEDIA QUERIES - accepts:
mobile,
mobile-landscape-only,
tablet-portrait-only,
tablet-portrait-up,
single-column,
tablet-landscape-only,
tablet-landscape-up,
desktop-up,
big-desktop-up
*/
@mixin media-query($size) {
    @if $size == mobile {
        @media (max-width: 599px) { @content; }
    } @else if $size == mobile-landscape-only {
        @media (max-width: 899px) and (orientation: landscape) { @content; }
    } @else if $size == tablet-portrait-only {
        @media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) { @content; }
    } @else if $size == tablet-portrait-up {
        @media (min-width: 600px) { @content; }
    } @else if $size == single-column {
        @media (max-width: 899px) { @content; }
    } @else if $size == tablet-landscape-only {
        @media (min-width: 900px) and (max-width: 1199px) { @content; }
    } @else if $size == tablet-landscape-up {
        @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
        @media (min-width: 1250px) { @content; }
    } @else if $size == big-desktop-up {
        @media (min-width: 1800px) { @content; }
    }
}

// POSITIONING
@mixin sticky($end) {
    position: -webkit-sticky;
    position: sticky;
    transition: $end $default-transition-time;
    #{$end}: -.5rem;

    &.dismiss {
        #{$end}: -100%;
    }
}

@mixin grid-column($side) {
    @if $side == full-width {
        grid-column: 1 / -1;
    } @else if $side == fill {
        grid-column: 2 / -2;
    } @else if $side == right {
        grid-column: 2 / span 1;
        @include media-query(tablet-landscape-up) {
            grid-column: 3 / span 1;
        }
    } @else if $side == left {
        grid-column: 2 / span 1;
    }
}

@mixin button-box-shadow($colour) {
    box-shadow: $colour 0 .7rem 2.5rem -.1rem;
}

@mixin button-box-shadow-high($colour) {
    box-shadow: $colour 0 .7rem 2.5rem .5rem;
}

@mixin primary-bg-gradient($direction) {
    background: linear-gradient($direction, $white, $grey);
}

@mixin inner-shadow($background) {
    background: radial-gradient($background, darken($background, 10%));
}

@mixin inner-shadow-sides($background) {
    background: linear-gradient(to right, darken($background, 10%) 0%, $background 15%, $background 85%, darken($background, 10%) 100%);
}

// @mixin side-padding($amount) {
//     padding-left: $amount;
//     padding-right: $amount;
// }

// @mixin make-space($side, $amount) {
//     @if $side == top {
//         padding-top: $amount;
//     }
//     @if $side == right {
//         padding-right: $amount;
//     }
//     @if $side == bottom {
//         padding-bottom: $amount;
//     }
//     @if $side == left {
//         padding-left: $amount;
//     }
// }