// FONTS
$handwriting: 'Bad Script', cursive;
$sans: 'Lato', sans-serif;
$serif: 'Raleway', sans-serif;

// COLOURS
$soft-black: #120904;
$warm-black: #1E0C00;
$dull-green: #4D5952;
$chartreuse: #B1A14D;
$brass: #F9BE00;
$orange: #F29E00;
$pale-grey: #fff;
$warm-grey: #fff;
$white: #fff;