// TYPOGRAPHY
$handwriting: 'Bad Script', cursive;
$sans: 'Lato', sans-serif;
$serif: 'Raleway', sans-serif;

$light: 200;
$normal: 400;
$semi-bold: 500;
$bold: 700;

$title-size: 4rem;

// COLOURS
$soft-black: #120904;
$warm-black: #1E0C00;
$dark-green: #4D5952;
$chartreuse: #B1A14D;
$bright-chartreuse: saturate($chartreuse, 15%);
$brass: #F9BE00;
$orange: #F29E00;
$pale-grey: #DFDFDB;
$warm-grey: #B8B3A1;
$white: lighten($chartreuse, 45%);

// LAYOUT
// $gutter: 1.7rem;
$gutter: 3vw;

$full-width: 1 / -1;