// TYPOGRAPHY
$handwriting: 'Bad Script', cursive;
$sans: 'Lato', sans-serif;
$serif: 'Raleway', serif;

$thin: 200;
$heading-thin: 300;
$normal: 400;
$semi-bold: 500;
$bold: 700;

$title-size: 4rem;
$form-font-size: 16px;
$small-font: .8rem;

// COLOURS
$purple-black: #140E1B;
$rich-dark-purple: #312142;
$turquoise: #6A9992;
$feminine-purple: #79648F;
$chartreuse: #CFB72F;
$brass: #F9BE00;
$skin-pink: #E6B5B5;
$warm-grey: #B8B3A1;
$alt-grey: #DFDDD5;

$white: #FCFAF0;
$black: $purple-black;
$black-gradient: #07050A;
$dark: $rich-dark-purple;
$dark-gradient: #231830;
$primary: #97CCC3;
$primary-gradient: $turquoise;
$secondary: #B99ADB;
$secondary-gradient: $feminine-purple;
$grey: $alt-grey;
$dark-grey: scale-color($grey, $lightness: -20%, $saturation: -60%);
$grey-gradient: $white;
$light: $skin-pink;
$light-gradient: #FCD0CA;
$accent: $chartreuse;
$accent-gradient: #D7C34F;
$white-gradient: #FEFDF9;

// LAYOUT
$gutter: 3vw;
$half-gutter: 1.5vw;
$full-width: 1 / -1;
$paragraph-width: 500px;
$half-width: $paragraph-width / 2;
$margin-top: 1.7rem;

$white-border: 1px solid $white;
$black-border: 1px solid $black;
$default-transition-time: .2s;
$slow-transition-time: .5s;

// IMAGES
$flutes-image-square: center / cover no-repeat url(../../../images/instruments/flute/flutes-black-white.jpg);
$flutes-image-long: center / cover no-repeat url(../../../images/instruments/flute/flute-long.jpg);
$clarinets-image-square: center / cover no-repeat url(https://images.unsplash.com/photo-1573871665247-2b556aa23460?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=3150&q=80);
$clarinets-image-long: $clarinets-image-square;
$recorders-image-square: center / cover no-repeat url(https://images.unsplash.com/photo-1504339804171-c44c838612e6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80);
$recorders-image-long: $recorders-image-square;
$world-flutes-image-square: center / cover no-repeat url(../../../images/instruments/world-flute/tepui-four.jpg);
$world-flutes-image-long: center / cover no-repeat url(../../../images/instruments/world-flute/tepui-seven.jpg);
$saxophones-image-square: center / cover no-repeat url(https://images.unsplash.com/photo-1566765479776-249be4decbaa?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1943&q=80);
$saxophones-image-long: $saxophones-image-square;

$border-radius-one: 70% 30% 70% 30% / 30% 70% 30% 70%;

// $soft-black: #12050A;
// $mid-black: #180C06;
// $warm-black: #1E0C00;
// $darker-green: #37403B;
// $vibrant-dark-green: #2E3C1D;
// $warm-earth-green: #424228;
// $dark-green: #4D5952;
// $pale-shades-sanguine: #995C83;
// $washed-purple: #706B99;
// $grey-purple: #8C8199;
// $murky-mauve: #A6809D;
// $lavender: #B2ACE5;
// $barbie-pink: #E57EC1;
// $light-purple: #CBB5E5;
// $pale-shades-green: #8E9964;
// $chartreuse: #B1A14D;
// $bright-chartreuse: #C1AF4F;
// $bright-chartreuse: #C6B42A;
// $orange: #F29E00;
// $tan-green: #8E8E64;
// $girly-brown: #998181;
// $dull-sand: #A68D80;
// $washed-green: #8E9988;
// $bright-baby-blue: #AAE6DC;
// $very-light-green: #DBDBAF;
// $white-green-zing: #CEE6C1;
// $pale-grey: #DFDFDB;